# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

#!bin/python3
#-*-conding:utf-8-*-


[settings]
default = nwsuaf.settings

[deploy:server-nwsuaf]
url = http://localhost:6800/
project = nwsuaf
version = GIT
